{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Заметки по случаю: Контакты
{% endblock %}

{% block staticjs %}
{% endblock %}

{% block menu %}
	{% include 'blogapp/menu/contacts.html' %}
{% endblock %}

{% block content %}
    <div id="sinkaiya">
	    <img src="{% static 'img/sinkaiya.png' %}" alt="Sinkaiya" title="Sinkaiya" width="150" height="150">
	</div>
	<h2>
	    Здравствуйте-добро-пожаловать. :)
	</h2>
	<p>
		Раньше я писал в своём ЖЖ, но далеко не всё из того, как он устроен, мне нравится. Поэтому самые достойные заметки оттуда переехали сюда, и периодически пополняются.
	</p>
	<h2>
		Для чего я пишу?
	</h2>
	<p>
		 Мне трудно этого не делать. Периодически оно само просится наружу, и в такие моменты я чувствую себя просто проводником. Люди неоднократно говорили, что обычно выходит что-то хорошее. Оно поддерживает других, в чём-то помогает. Делает мир лучше. Просто нравится. Ну а если так...
	</p>
	<h2>
		При этом
	</h2>
	<p>
		Я человек, и ничто человеческое мне не чуждо. Я не претендую на то, чтобы быть для кого-то истиной в последней инстанции, на то, чтобы учить, как жить, чтобы определять, что правильно, а что нет. Я просто высказываю свою точку зрения, результаты своих наблюдений, своих размышлений и своего опыта; то, что кажется мне верным и достойным того, чтобы поделиться в настоящий момент.
	</p>
	<p>
		Возможно, со временем эта моя точка зрения изменится, или станет глубже, или в ней иначе расставятся акценты: и человек, и жизнь, как таковая - всегда не состояние, а процесс. Но здесь и сейчас для меня - это так. И уже дело и ответственность каждого - прислушаться к себе и понять, откликается ли это у него как-то, и если да - то как именно, и что он хотел бы с этим сделать.
	</p>
	<h2>
		Собственно контакты
	</h2>
	<p>
		Если захотите зачем-либо со мной связаться - можете сделать это по электронной почте: sinkaiya ГАВ gmail ТОЧКА com.
	</p>
	<p>
		Искренне и с наилучшими пожеланиями!
	</p>
	<h2 class="grey">
		Сергей Новиков / Sinkaiya Katsuragi
	</h2>
{% endblock %}