{% extends 'base.html' %}

{% block title %}
    Заметки по случаю
{% endblock %}

{% block staticjs %}
{% endblock %}

{% block content %}
    {% for post in posts reversed %}
        <div class="post">
            <h2>
                <a href="{% url 'post_detail' pk=post.pk %}">
                    {{ forloop.revcounter }}.
                    {{ post.title }}
                </a>
            </h2>
            <div class="articlepic">
				<a href="{% url 'post_detail' pk=post.pk %}">
					<img src="/media/{{ post.preview_image }}" alt="{{ post.title }}" width="90" height="90">
				</a>
			</div>
            <p>
                {{ post.text|linebreaksbr|slice:':370' }}...
            </p>
            {% if forloop.first %}
                <div class="greylast">
                    {{ post.created_date }}
                </div>
            {% else %}
                <div class="grey">
                    {{ post.created_date }}
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}